{% extends "content/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "Welcome to guardhouse" %}
{% endblock %}

{% block content %}
    <p><b>{% blocktrans %}
        Note: This is the djangodash contest version of this site! Which means
        it won't be updated after 2011-07-31 23:59:59. <br/>
        The "live" version is at <a href="http://guardhous.es">guardhous.es</a>
        which will be updated.
    {% endblocktrans %}</b></p>
    <p>{% blocktrans %}
            guardhouse is a service that helps you keep track of errors in your
            django applications. It utilizeses the awesome
            <a href="https://github.com/dcramer/django-sentry">django-sentry</a>.
    {% endblocktrans %}</p>
    {% url "receiver" as receiver_url %}
    <p>{% blocktrans with site.domain as site_domain and receiver_url as receiver_url %}
        Log in, configure Sites and then point their sentry.client's to
        http://{{ site_domain }}{{ receiver_url }} to have them send their logs
        here.
    {% endblocktrans %}</p>
    <p>{% blocktrans %}
        You can view the exception log and share access to your account with
        other users so they can view the logs as well.
        <b>(Note: Sadly time on the djangodash competition ran out so log viewig
            barely works and the invite feature is missing completely.)</b>
    {% endblocktrans %}</p>
{% endblock %}
