{% extends "base.html" %}

{% block nav_class_dashboard %}active{% endblock %}

{% block body %}
    <h1>{% trans "Dashboard" %}</h1>
    <p>{% trans "The following of your sites have unresolved messages:" %}</p>
    <table>
        <thead>
            <tr><td>{% trans "Site" %}</td><td>{% trans "Message count" %}</td></tr>
        </thead>
        <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.name }}</td>
                    <td>{{ site.sentry_messages.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}