{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block nav_class_sites %}active{% endblock %}

{% block extra_head %}
    <meta http-equiv="refresh" content="20" />
{% endblock %}

{% block body %}
    <h1>{% trans "Sites" %}</h1>
    {% if not sites %}
        <p>{% trans "You have no sites configured yet. You can add some below." %}</p>
    {% else %}
        <p>{% trans "This are the sites that are connected to your account." %}</p>
        <table>
            <thead>
                <tr>
                    <td>{% trans "Name" %}</td>
                    <td>{% trans "Domain" %}</td>
                    <td>{% trans "Status" %}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr>
                        <td><a href="{% url "site_detail" pk=site.pk %}">{{ site.name }}</a></td>
                        <td>{{ site.domain }}</td>
                        <td>{{ site.get_verification_state_display }}</td>
                        <td>
                            {% if not site.verified and not site.verifying %}
                                <a href="{% url "site_verify" pk=site.pk %}">{% trans "Verify" %}</a>
                            {% endif %}
                            <a href="{% url "site_delete" pk=site.pk %}">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br/>
    <a href="{% url "site_create" %}">Add new Site</a>
{% endblock %}