/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../../compass/sass/screen.scss */
a {
  color: #e4832d;
  text-decoration: none;
}

/* line 18, ../../compass/sass/screen.scss */
html, body {
  height: 100%;
}

/* line 21, ../../compass/sass/screen.scss */
body {
  font-family: Helvetica, Arial;
  font-size: 12pt;
  line-height: 16pt;
}

/* line 27, ../../compass/sass/screen.scss */
#page {
  overflow: hidden;
  *zoom: 1;
  width: 930px;
  margin: 15px auto;
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  padding: 0 15px;
  padding-bottom: 50px;
  position: relative;
  min-height: 550px;
}

/* line 44, ../../compass/sass/screen.scss */
aside.user_info {
  position: absolute;
  top: 0px;
  right: 15px;
}
/* line 49, ../../compass/sass/screen.scss */
aside.user_info ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
aside.user_info ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
aside.user_info ul li:first-child, aside.user_info ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
aside.user_info ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
aside.user_info ul li.last {
  padding-right: 0;
}

/* line 54, ../../compass/sass/screen.scss */
header {
  margin-bottom: 30px;
}

/* line 58, ../../compass/sass/screen.scss */
#messages {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  line-height: 30px;
  margin-bottom: 20px;
  position: relative;
}
/* line 68, ../../compass/sass/screen.scss */
#messages a.close {
  position: absolute;
  top: 0px;
  right: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 76, ../../compass/sass/screen.scss */
#messages:hover a.close {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 80, ../../compass/sass/screen.scss */
#messages .info {
  color: #3ae42d;
}
/* line 83, ../../compass/sass/screen.scss */
#messages .warning {
  color: #352de4;
}
/* line 86, ../../compass/sass/screen.scss */
#messages .error {
  color: #e42d2d;
}

/* line 91, ../../compass/sass/screen.scss */
nav {
  float: left;
  width: 200px;
  margin-right: 20px;
}
/* line 96, ../../compass/sass/screen.scss */
nav ul {
  border-top: 1px solid #ddd;
}
/* line 99, ../../compass/sass/screen.scss */
nav li {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd;
  line-height: 35px;
}
/* line 105, ../../compass/sass/screen.scss */
nav li a {
  display: block;
}
/* line 109, ../../compass/sass/screen.scss */
nav li.active a {
  text-decoration: underline;
}

/* line 115, ../../compass/sass/screen.scss */
section#body {
  float: left;
  width: 710px;
}
/* line 119, ../../compass/sass/screen.scss */
section#body h1 {
  font-size: 20pt;
  margin-bottom: 20px;
}
/* line 124, ../../compass/sass/screen.scss */
section#body h2 {
  font-size: 16pt;
  margin-bottom: 13px;
}
/* line 129, ../../compass/sass/screen.scss */
section#body ul {
  margin-bottom: 10px;
}
/* line 133, ../../compass/sass/screen.scss */
section#body p {
  margin-bottom: 10px;
}
/* line 137, ../../compass/sass/screen.scss */
section#body table {
  width: 100%;
}
/* line 139, ../../compass/sass/screen.scss */
section#body table td {
  padding: 3px 0;
}
/* line 144, ../../compass/sass/screen.scss */
section#body .left, section#body .right {
  width: 345px;
}
/* line 147, ../../compass/sass/screen.scss */
section#body .left {
  float: left;
}
/* line 150, ../../compass/sass/screen.scss */
section#body .right {
  float: right;
}

/* line 155, ../../compass/sass/screen.scss */
ul.list {
  list-style: disc;
}
/* line 157, ../../compass/sass/screen.scss */
ul.list li {
  margin-left: 25px;
  margin-bottom: 20px;
  padding-left: 5px;
}

/* line 170, ../../compass/sass/screen.scss */
a.showlink {
  font-size: 10pt;
}

/* line 174, ../../compass/sass/screen.scss */
span.source {
  font-family: Courier, fixed-with;
  font-size: 10pt;
  display: block;
  border: 1px dashed #aaa;
  border-left: none;
  border-right: none;
  overflow: auto;
  padding: 15px;
}

/* line 185, ../../compass/sass/screen.scss */
p.important {
  font-weight: bold;
}

/* line 189, ../../compass/sass/screen.scss */
footer {
  position: absolute;
  bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 194, ../../compass/sass/screen.scss */
footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer ul li:first-child, footer ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer ul li.last {
  padding-right: 0;
}
/* line 196, ../../compass/sass/screen.scss */
footer ul:first-child {
  margin-left: 15px;
  float: left;
}
/* line 200, ../../compass/sass/screen.scss */
footer ul:last-child {
  float: right;
  margin-right: 15px;
}
